/* * {
    font-family: Cochin;
}

body {
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap; 
}

header  {
    text-align: center;
}

#buttons {
    border: 2px solid rgb(61, 59, 59);
    align-self: center; 
    width: 40%
}

.opButton {
    background-color: grey;
    border: 2px solid rgb(61, 59, 59); 
    height: 15vh; 
    width: 25%;  
    font-size: xx-large; 
    color: ivory;  
    display: flex; 
    justify-content: center;
    align-items: center;
    font-weight: bolder; 
}

.numberButton {
    background-color: slategrey;
    border: 2px solid rgb(61, 59, 59); 
    height: 15vh; 
    width: 25%;  
    font-size: xx-large; 
    color: ivory;  
    display: flex; 
    justify-content: center;
    align-items: center;
    font-weight: bolder; 
}

#clearButton {
    background-color: darkgrey;
    border: 2px solid rgb(61, 59, 59); 
    height: 15vh; 
    width: 25%;  
    font-size: x-large; 
    color: ivory;  
    display: flex; 
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

#equalsButton {
    background-color: darkgrey;
    border: 2px solid rgb(61, 59, 59);
    font-size: xx-large; 
    height: 15vh; 
    width: 25%; 
    display: flex; 
    justify-content: center;
    align-items: center; 
}

#display {
    border: 2px solid rgb(61, 59, 59); 
    background-color: lightgrey; 
    font-size: xx-large; 
    height: 15vh; 
    width: 75%; 
    display: flex; 
    justify-content: center;
    align-content: center; 
}

.row {
    display: flex; 
    border: 2px solid rgb(61, 59, 59); 
}

header {
    text-align: center; 
} */

body {
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ecf0f3;
}

.container {
    width: 45%; 
    height: 45vh; 
    padding: 10px; 
    border-radius: 8px; 
    box-shadow: 12px 12px 20px #cbced1,
            -12px -12px 20px #ffffff;
}

.display #screen {
    width: 97%;
    height: 70px;
    font-size: 35px;
    outline: none;
    border: none;
    text-align: right;
    padding-right: .5em;
    background: #ecf0f3;
    border-radius: 6px; 
    box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px #ffffff; 
}

.btns {
    width: 100%;
    margin-top: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btns .row button {
    width: 80px;
    height: 30px;
    font-size: 16px;
    border: none;
    outline: none;
    margin: 5px;
    border-radius: 4px;
    box-shadow: 5px 5px 8px #00000020,
                -5px -5px 8px #ffffff;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: cochin;
    color: #ecf0f3;
    box-shadow: 5px 5px 8px #00000020,
                -5px -5px 8px #ffffff;
    text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.5),
                2px -2px 0 rgba(255, 255, 255, 0.9);
}

.btns .row button:hover {
    box-shadow: inset 5px 5px 8px rgba(16,16,16,.1),
                inset -5px -5px 8px #fff;
                background: #fff;
}